$es-pink: #d43e88;
$es-white: #ffffff;
$es-green: #abc41e;
$es-colors-name: #8168a2;

$es-regular: 'Montserrat', sans-serif;

/**
 * ----------------------------------------
 * animation blink-2
 * ----------------------------------------
 */
@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
}

@mixin img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.es-rc #es-rc-content {
  font-family: $es-regular;
  max-width: 930px;
  margin-inline: auto;
  overflow: hidden;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .es-section {
    margin: 0;
    padding: 0;
  }

  .es-title {
    font-family: $es-regular;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    font-size: 30px;
  }

  .es-text {
    font-size: 14px;

    @media (min-width: 576px) {
      font-size: 16px;
    }
  }

  .es-kv {
    color: #fff;

    .es-title {
      &--span {
        font-weight: 300;
      }
    }

    &__title {
      position: absolute;
      top: 10%;
      right: 5%;
      font-size: 16px;

      @media screen and (min-width: 400px) {
        right: 7%;
      }

      @media screen and (min-width: 768px) {
        right: 12%;
      }

      @media screen and (min-width: 992px) {
        top: 4%;
        right: 5%;
        font-size: 24px;
      }
    }

    &__textCtn {
      padding: 2rem 2rem 0 2rem;

      @media (min-width: 576px) {
        padding: 1rem 1rem 0 1rem;
      }
    }

    &__text {
      position: absolute;
      text-align: center;
      margin-block: 1rem;
      bottom: -5%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
      min-width: 294px;
      width: 100%;
      max-width: 600px;

      &-line {
        display: block;
        margin: 0 auto;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #000;
        font-size: 9px;
        font-weight: 800;
        margin-bottom: 10px;

        &--white {
          background-color: unset;
          color: #fff;

          @media (min-width: 992px) {
            width: 100% !important;
          }
        }

        @media (min-width: 992px) {
          font-size: 11px;
          width: 80%;
        }

        @media (min-width: 1300px) {
          font-size: 11px;
          width: 84%;
        }
      }

      @media (min-width: 400px) {
        bottom: -5%;
      }

      @media (min-width: 576px) {
        font-size: 10px;
      }

      @media (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
        bottom: -2%;
        font-size: 14px;
      }
    }

    &__logo {
      position: absolute;
      top: 2%;
      left: 5%;
      width: 25%;
    }

    &__container {
      display: flex;
      flex-direction: column;

      @media (min-width: 576px) {
        flex-direction: row;
      }

      &--left {
        background: url('../images/kv-packhot_static.png') no-repeat center center;
        background-size: cover;
        min-height: 550px;
        position: relative;

        @media (min-width: 576px) {
          flex-basis: 50%;
        }
      }

      &--right {
        @media (min-width: 576px) {
          flex-basis: 50%;
        }
      }
    }

    &__packshotCtn {
      z-index: 2;
      overflow: hidden;
    }

    &__badge {
      position: absolute;
      left: 1rem;
      width: 33%;
      max-width: 75px;
      z-index: 2;

      @media (min-width: 360px) {
        max-width: 100px;
      }

      @media (min-width: 410px) {
        left: 2rem;
      }

      @media (min-width: 576px) {
        max-width: 66px;
      }

      @media (min-width: 768px) {
        max-width: 100px;
      }
    }

    &__packshot {
      width: 75%;
      z-index: 2;
      margin: auto;

      @media (min-width: 576px) {
        width: 66%;
      }

      @media (min-width: 768px) {
        width: 69%;
      }
    }

    &__signs {
      position: absolute;
      top: 25%;
      right: 10px;
      width: 45%;
      max-width: 200px;
      z-index: 2;

      @media (min-width: 576px) {
        bottom: 1rem;
        right: 1rem;
        max-width: 150px;
      }

      @media (min-width: 768px) {
        max-width: 220px;
        bottom: 1.5rem;
        right: 1.5rem;
      }

      @media screen and (min-width: 992px) {
        top: 22%;
        right: 5%;
      }
    }

    &__photo {
      width: 100%;
      height: 100%;
    }
  }

  .es-info {
    padding: 2rem;
    background: url('../images/info-bg-b.png') no-repeat center;
    background-size: cover;

    .es-title {
      font-size: 45px;
      color: $es-white;
      position: relative;
      margin-bottom: 30px;

      &::after {
        position: absolute;
        content: '';
        background: url('../images/lip-drip.png') no-repeat center;
        top: 0;
        left: 64%;
        background-size: 61%;
        display: block;
        width: 122px;
        height: 70px;

        @media screen and (min-width: 768px) {
          left: 19%;
        }

        @media screen and (min-width: 1300px) {
          left: 20%;
          top: 11%;
          background-size: 80%;
        }
      }

      &--2 {
        &::after {
          background: url('../images/slick-click.png') no-repeat center;
          width: 200px;
          height: 70px;
          background-size: 45%;
        }
      }

      &--2 {
        @media screen and (min-width: 1300px) {
          &::after {
            left: 35%;
            height: 55px;
            background-size: 70%;
          }
        }
      }

      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }

    &__subtitle {
      font-family: $es-regular;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 20px;
      color: $es-white;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: left;
      }

      @media screen and (min-width: 1300px) {
        font-size: 22px;
      }
    }

    &__textCtn {
      position: relative;
      z-index: 1;
    }

    &__flexCtn {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media (min-width: 576px) {
        flex-direction: row;
        gap: unset;
      }

      @media (min-width: 768px) {
        padding-left: 22px;

        &--2 {
          padding-top: 200px;
        }
      }
    }

    &__leftCtn {
      display: flex;
      flex-direction: column;

      @media (min-width: 576px) {
        flex-basis: 50%;
      }
    }

    &__single {
      font-family: $es-regular;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      padding-block: 0.75em;
      margin-top: 0.5em;
      padding-left: 37px;
      // border-bottom: 2px solid $es-white;

      &::before {
        position: absolute;
        content: '';
        width: 27px;
        height: 33px;
        top: 50%;
        left: -20px;
        transform: translate(0, -50%);
        background: url(../images/checkbox.png) no-repeat center;
        background-size: contain;
      }

      &--2 {
        &::before {
          left: -5px;
        }
      }

      @media screen and (min-width: 1300px) {
        font-size: 14px;
      }
    }

    &__rightCtn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;

      .es-info__productCtn {
        position: relative;
      }

      .es-info__product {
        max-height: 320px;
        position: relative;

        &--2 {
          max-height: none;
        }

        @media screen and (min-width: 768px) {
          display: none;
        }
      }

      @media (min-width: 576px) {
        flex-basis: 50%;
      }
    }

    @media screen and (min-width: 768px) {
      background: url(../images/info-bg-desktop.png) no-repeat center right;
      background-size: cover;
      // width: 500px;
    }

    &--2 {
      @media screen and (min-width: 768px) {
        margin-top: -260px;
        background: #7eac12 url(../images/info-2-bg-desktop.png) no-repeat left center;
        background-size: cover;
        height: 712px;
      }
    }
  }

  .es-colors {
    background-color: #8bb312;
    background-size: cover;
    color: #fff;
    padding-top: 0;

    .es-title {
      color: $es-white;

      &--span {
        display: block;
        color: $es-white;
      }
    }

    &__textCtn {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }

    &__text {
      text-align: center;
      text-wrap: balance;
    }

    &__flexCtn {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2px;
      flex-grow: 1;
      min-width: 150px;
      width: 23%;
      max-width: 240px;
      position: relative;
      padding-bottom: 2rem;
      padding-top: 200px;
      overflow: hidden;

      &--1 {
        background-color: #eceede;
      }

      &--2 {
        background-color: #ec6995;
      }

      &--3 {
        background-color: #de1063;
      }

      &--4 {
        background-color: #7d1a48;
      }

      &--5 {
        background-color: #bf0b38;
      }

      &--6 {
        background-color: #c0644b;
      }

      &--7 {
        background-color: #773213;
      }

      &--8 {
        background-color: #3a0300;
      }

      &--9 {
        background-color: #B66562;
      }

      &--10 {
        background-color: #844037;
      }

      &--11 {
        background-color: #583225;
      }

      &--12 {
        background-color: #682E2D;
      }

      &--13 {
        background-color: #792018;
      }

      &--14 {
        background-color: #622827;
      }

      @media screen and (min-width: 1300px) {
        min-width: 100px;
        width: 20%;
        max-width: 120.2px;
        padding-top: 150px;

        &--1 {
          padding-left: 45px;
          max-width: 164px;
        }

        &--7 {
          padding-right: 45px;
          max-width: 164px;
        }

        &--8 {
          padding-left: 45px;
          max-width: 164px;
        }

        &--14 {
          padding-right: 45px;
          max-width: 164px;
        }
      }
    }

    &__img {
      object-fit: cover;
      transition: all 200ms ease-in-out;

      @media screen and (min-width: 1300px) {
        max-width: 78%;
        height: 288px;

        &:hover {
          scale: 1.25;
        }
      }
    }

    &__name {
      font-family: $es-regular;
      font-weight: 700;
      color: $es-green;
      font-size: 22px;
      text-transform: uppercase;
      width: 95%;
      min-width: 150px;
      text-align: center;
      padding: 4px;
      position: absolute;
      top: 30px;

      &--large {
        display: block;
        font-size: 35px;
        font-weight: 700;
      }

      @media screen and (min-width: 1300px) {
        min-width: 100px;
        font-size: 14px;
      }
    }
  }

  .es-shades {
    background-color: #bdcf2d;
    background-size: cover;
    color: #fff;
    padding-top: 0;

    .es-title {
      color: $es-white;

      &--span {
        display: block;
        color: $es-white;
      }
    }

    &__textCtn {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }

    &__text {
      text-align: center;
      text-wrap: balance;
    }

    &__flexCtn {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2px;
      flex-grow: 1;
      min-width: 150px;
      width: 23%;
      max-width: 240px;
      position: relative;
      padding-bottom: 2rem;
      padding-top: 200px;
      overflow: hidden;
      display: block;

      &--1 {
        background-color: #fee0fa;
        background: url("../images/mask-1.png") no-repeat center;
        background-size: cover;
      }

      &--2 {
        background-color: #e77e8d;
      }

      &--3 {
        background-color: #994346;
        background: url("../images/mask-3.png") no-repeat center;
        background-size: cover;
      }

      &--4 {
        background-color: #782e2d;

      }

      &--5 {
        background-color: #703227;
      }

      &--6 {
        background-color: #ad563b;
        background: url("../images/mask-6.png") no-repeat center;
        background-size: cover;
      }

      &--7 {
        background-color: #993861;
      }

      &--8 {
        background-color: #cc0071;
      }

      &--9 {
        background-color: #6f213b;
      }

      &--10 {
        background-color: #9e003d;
      }

      &--11 {
        background-color: #5c101c;
      }

      &--12 {
        background-color: #4d2f27;
        background: url("../images/mask-12.png") no-repeat center;
        background-size: cover;
      }

      &--13 {
        background-color: #FFFFFF;
      }

      &--14 {
        background-color: #9D5B4F;
        background: url("../images/mask-14.png") no-repeat center;
        background-size: cover;
      }

      &--15 {
        background-color: #C66D67;
      }

      &--16 {
        background-color: #8C4E41;
      }

      &--17 {
        background-color: #744332;
        background: url("../images/mask-17.png") no-repeat center;
        background-size: cover;
      }

      &--18 {
        background-color: #854B4A;
      }

      &--19 {
        background-color: #A35757;
      }

      &--20 {
        background-color: #6F213B;
      }

      @media screen and (min-width: 1300px) {
        min-width: 87.5px;
        width: 14%;
        max-width: 75px;
        padding-top: 150px;
        height: 400px;

        &--1 {
          min-width: 114.5px;
          padding-left: 20px;
        }

        &--10 {
          min-width: 114.5px;
          padding-right: 30px;
        }

        &--11 {
          min-width: 114.5px;
          padding-left: 20px;
        }

        &--20 {
          max-width: 114.5px;
          padding-right: 30px;
        }
      }
    }

    &__img {
      object-fit: cover;
      transition: all 200ms ease-in-out;
      max-width: 38%;
      min-height: 243px;
      max-height: 243px;
      margin: 0 auto;

      @media screen and (min-width: 1300px) {
        &:hover {
          scale: 1.25;
        }
      }
    }

    &__name {
      font-family: $es-regular;
      font-weight: 700;
      color: $es-green;
      font-size: 22px;
      text-transform: uppercase;
      width: 95%;
      min-width: 150px;
      text-align: center;
      padding: 4px;
      position: absolute;
      top: 10px;

      &--large {
        display: block;
        font-size: 50px;
        font-weight: 700;
      }

      @media screen and (min-width: 1300px) {
        font-size: 10px;
        min-width: 60px;

        &--large {
          font-size: 40px;
        }
      }
    }

    @media screen and (min-width: 768px) {
      margin-top: -5px;
    }
  }

  .es-features {
    background-color: $es-pink;
    color: #fff;
    padding: 2rem;

    &__textCtn {
      margin-bottom: 2rem;
    }

    .es-title {
      color: $es-white;
    }

    &__subtitle {
      text-align: center;
      text-transform: uppercase;
      margin-top: 12px;
      font-size: 14px;

      @media (min-width: 576px) {
        font-size: 16px;
      }
    }

    &__Ctn {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    &__single {
      padding-block: 0.75em;
      margin-top: 0.5em;

      @media (min-width: 576px) {
        padding-block: 0;

        &--1 {
          max-width: 84%;
          align-self: flex-start;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 63px;
            display: block;
            width: 105%;
            height: 2px;
            background-color: $es-white;
          }
        }

        &--2 {
          max-width: 78%;
          align-self: flex-end;
          position: relative;
          margin-top: 0;

          &:before {
            content: '';
            position: absolute;
            top: -56%;
            left: -13%;
            display: block;
            width: 105%;
            height: 2px;
            background-color: $es-white;
          }
        }
      }
    }

    &__packshotCtn {
      position: relative;
      padding: 2rem;
      z-index: 1;
    }

    &__tip {
      position: absolute;

      &--1 {
        top: 5%;
        right: 2%;
        width: 16%;
        min-width: 50px;
        max-width: 80px;

        @media (min-width: 576px) {
          top: -2%;
          z-index: 1;
        }
      }

      &--2 {
        bottom: 5%;
        left: 2%;
        width: 20%;
        min-width: 50px;
        max-width: 100px;
        z-index: 1;
      }
    }
  }

  .es-steps {
    background-color: $es-white;
    color: #fff;
    padding-block: 2rem;
    position: relative;

    .es-title {
      color: $es-white;
    }

    &__subtitle {
      text-align: center;
      text-transform: uppercase;
      margin-top: 12px;
    }

    &__stepCtn {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      position: relative;
      z-index: 1;

      @media (min-width: 576px) {
        flex-direction: row;
        gap: 2rem;
      }
    }

    &__singleCtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 2rem;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2px;
      position: relative;

      &:before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        left: -3%;
        height: 300px;
        z-index: 1;

        @media (min-width: 576px) {
          height: 250px;
        }
      }

      &--1:before {
        background-image: url('../images/step-1_img.png');
        width: 30px;
      }

      &--2:before {
        background-image: url('../images/step-2_img.png');
        width: 50px;
        left: -5%;
        top: 37%;

        @media (min-width: 576px) {
          width: 60px;
          top: 41%;
        }
      }
    }

    &__name {
      font-family: $es-regular;
      font-weight: 700;
      font-size: 22px;
      color: $es-colors-name;
      text-transform: uppercase;
      text-align: center;
      background-color: $es-white;
      width: 99%;
      clip-path: polygon(5% 0%,
          95% 0%,
          100% 50%,
          100% 50%,
          95% 100%,
          5% 100%,
          0% 50%,
          0% 50%);
      padding: 4px;
      position: absolute;
      bottom: -12px;
    }

    &__text {
      text-align: center;
    }
  }

  .es-cross {
    background: url(../images/cross-bg.png) no-repeat center;
    background-size: cover;
    padding: 2rem;

    &__title {
      font-weight: 800;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      color: $es-white;

      @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        font-size: 45px;
      }
    }

    &__subtitle {
      font-weight: 800;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      color: $es-white;

      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
    }

    &__productsCtn {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 2rem;
      margin-top: 3rem;
      position: relative;
      z-index: 1;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    &__single {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-size: 100% 100%;
      background-position: 0px 0px;
      background-image: radial-gradient(50% 30% at 50% 27%,
          rgba(48, 233, 234, 0.3) 0%,
          rgba(7, 58, 255, 0) 100%);

      &:hover .es-cross__img {
        scale: 1.05;
      }

      &:hover .es-cross__link {
        background-color: #fff;
        color: $es-pink;
        outline: 4px solid $es-pink;
      }

      &--plus {
        @media screen and (min-width: 768px) {
          align-self: center;
          width: 74px;
          flex-basis: auto;
          margin-left: -50px;
        }
      }

      &--2 {
        align-self: flex-end;
      }
    }

    &__img {
      margin: 0 auto;
      display: block;
      height: 300px;
      transition: all 400ms ease-in-out;

      @media screen and (min-width: 768px) {
        max-width: 120%;
        height: 350px;

        &--2 {
          height: 300px;
        }
      }

      &--plus {
        width: 54px;
        height: auto;
      }
    }

    &__name {
      color: $es-white;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      font-size: 26px;
    }

    &__desc {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    &__link {
      font-family: $es-regular;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 22px;
      color: #fff;
      text-align: center;
      background-color: $es-pink;
      width: 150px;
      padding: 10px 20px;
      transition: 0.4s all ease-in-out;
      display: block;
      margin: 0 auto;

      &:hover {
        background-color: #fff;
        color: $es-pink;
        outline: 4px solid $es-pink;
      }
    }

    &__star {
      position: absolute;
      animation: blink-2 4s ease-in-out infinite both;
      z-index: -1;

      &--1 {
        top: 0%;
        left: 0%;
        width: 53px;
        height: 53px;
        animation-delay: 3.6s;

        @media (min-width: 768px) {
          top: -16%;
          left: 15%;
        }
      }

      &--2 {
        top: 2%;
        left: 24%;
        width: 50px;
        height: 70px;
        animation-delay: 1.8s;

        @media (min-width: 768px) {
          top: 3%;
          left: 13%;
        }
      }

      &--3 {
        top: 7%;
        left: 20%;
        width: 60px;
        height: 60px;
        animation-delay: 0.4s;

        @media (min-width: 768px) {
          bottom: -3%;
          left: 17%;
          top: auto;
        }
      }

      &--4 {
        bottom: 23%;
        right: 3%;
        width: 70px;
        height: 70px;
        animation-delay: 2.4s;

        @media (min-width: 410px) {
          right: 15%;
        }

        @media (min-width: 768px) {
          right: 11%;
          top: -13%;
        }
      }

      &--5 {
        bottom: 20%;
        right: 0%;
        width: 30px;
        height: 30px;
        animation-delay: 1.2s;

        @media (min-width: 410px) {
          right: 8%;
        }

        @media (min-width: 768px) {
          right: -4%;
          top: 22%;
        }
      }
    }

    @media screen and (min-width: 1300px) {
      margin-top: -260px;
      padding-top: 300px;
    }
  }

  .es-photos {
    &__img {
      @include img;
    }

    @media screen and (min-width: 760px) {
      &__items {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      &__img {
        max-width: 34%;
      }
    }
  }

  .es-footer {
    display: flex;
    justify-content: center;
    background-color: #61a239;

    &__img {
      @include img;
      max-width: 230px;
    }
  }
}

.es-reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.es-reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.es-reveal--left {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}

.es-reveal--left.active {
  transform: translateX(0);
  opacity: 1;
}

.es-reveal--right {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}

.es-reveal--right.active {
  transform: translateX(0);
  opacity: 1;
}